
html {
	height: 100%;
}

body {
	height: 100%;
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.monitor-char-container {
	height: 100%;
}

#monitorChartCanvas {
	height: 90%;
}

